<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
  <link rel="stylesheet" th:href="@{/css/task/index.css}">


</head>

<body>
    <div layout:fragment="content" class="main w-100 h-100 d-flex justify-content-center align-items-center">
      <div class="wrapper-task w-100 d-flex flex-column justify-content-center align-items-center">
        <div class="top">
          Website todo
        </div>
        <div class="task-list">
          <div th:each="task : ${tasks}" class="task-item d-flex align-items-end justify-content-around mt-4">
            <div class="d-flex" style="width: 50%;">
              <span class="complete-icon-wrapper" th:attr="data-id=${task.id}" style="cursor: pointer;">
                <i class="complete-icon" th:classappend="${task.isChecked} ? 'active-complete-icon' : ''"></i>
              </span>
              <span class="task-name ms-5" th:text="${task.taskName}" th:classappend="${task.isChecked} ? 'active-task-name' : ''  " ></span>
            </div>
            <a class="trash-icon" th:href="@{/tasks/delete/{id} (id=${task.id}) }">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
              </svg>
            </a>
          </div>
        </div>
        <div class="d-flex justify-content-between add-task-wrapper" >
          <input type="text" class="input-new-task"/>
          <button class="button-new-task" id="btn-new-task">New task</button>
        </div>
      </div>




      <script>
        const btnNewTask = $("#btn-new-task")

        const btnCompleteTask = $(".complete-icon-wrapper")

        btnCompleteTask.on('click', function() {
          const ref = $(this)
          const id = ref.attr("data-id")
          const child = ref.children()
          const nextSib = ref.next()

          if(child.hasClass('active-complete-icon')) {
            child.removeClass('active-complete-icon')
            nextSib.removeClass('active-task-name')
          } else {
            child.addClass('active-complete-icon')
            nextSib.addClass('active-task-name')
          }

          $.ajax({
            url: `http://localhost:8080/tasks/update/${id}/complete`,
            method: 'POST',
            data: {}
          }).done(function() {

          }).fail(function() {

          })
        })

        btnNewTask.on("click", function() {
          const text = $(".input-new-task").val()
          if(text == "") return
          $.ajax({
            url: 'http://localhost:8080/tasks/create',
            method: 'POST',
            data: {
              taskName: text,
              isChecked: false
            }
          }).done(function() {
            window.location = '/tasks'
          }).fail(function() {

          })
        })
      </script>
    </div>
</body>
</html>