html, body {
  height: 100%;
  font-size: 16px;
  font-family: "Space Grotesk";
}


.wrapper-form {
  background: rgb(148,187,233);
  background: linear-gradient(317deg, rgba(148,187,233,1) 0%, rgba(62,112,142,1) 100%);
}

.login-form {
  background-color: white;
  border-radius: 15px;
}

.title_login {
  font-size: 1.5rem;
  font-weight: bold;
}

.btn-submit {
  background-color: #27485D;
  color: white;
}

.copy-right {
  color: white;
}