<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Space Grotesk" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/registration/registration.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <title>Registration</title>
</head>
<body>
<div class="container-fluid h-100">

  <div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
      <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" th:classappend="${error} ? show : hide">
        <div class="d-flex">
          <div class="toast-body" th:text="${message}">
          </div>
          <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
      </div>
  </div>



  <div class="row h-100">
      <div class="wrapper-left col-md-7">
          <form class="d-flex justify-content-center align-items-center flex-column h-100" method="post" th:action="@{/registration}">
              <span class="w-50 text-title">Let's get you started</span>
              <div class="mb-3 w-50">
                  <label class="form-label">First name</label>
                  <input type="text" name="firstName" class="form-control" />
              </div>
              <div class="mb-3  w-50">
                  <label class="form-label">Last name</label>
                  <input type="text" name="lastName" class="form-control" />
              </div>
              <div class="mb-3  w-50">
                  <label class="form-label">Email</label>
                  <input type="email"     name="email" class="form-control" />
              </div>
              <div class="mb-3 w-50">
                  <label class="form-label">Password</label>
                  <input type="password" name="password"  class="form-control"/>
              </div>
              <button type="submit" class="btn w-50 mt-3 btn-submit">Submit</button>
              <div class="mt-5">
                  <span class="text-already-user">Already a user.</span> <a th:href="@{/login}" class="text-login">Login</a>
              </div>
          </form>

      </div>
      <div class="wrapper-right col-md-5 d-flex justify-content-center align-items-center flex-column">
          <div class="quote text-center">
              “Creativity is intelligence having fun”
          </div>
          <div class="author">
              -Albert Einstein
          </div>



      </div>
  </div>
</div>


<script>
  const btnClose = $(".btn-close")
  btnClose.on('click', function() {
    $(".toast").hide()
  })
</script>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>





</body>
</html>