<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Task</title>
</head>
<body>
    <form th:action="@{/create}" th:object="${task}" method="POST">
        <input type="text" name="taskName" th:field="*{taskName}" th:value="*{taskName}" placeholder="Enter task name ... " /> <br/>
        <input type="checkbox" name="isChecked" th:checked="*{checked}" th:field="*{checked}" /> <br/>
        <button type="submit">Save</button> <br/>
    </form>
</body>
</html>