<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo App</title>
</head>
<body>
    <a th:href="@{/new}"> Add Task</a>



    <table>
        <thead>
            <tr>
                <th>Task Name</th>
                <th>Status</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="task : ${tasks}">
                <td th:text="${task.taskName}"></td>
                <td th:text="${task.isChecked}"></td>
                <td><a th:href="@{/edit/{id} (id=${task.id}) }">Edit</a></td>
                <td><a th:href="@{/delete/{id} (id=${task.id}) }">Delete</a></td>
            </tr>
        </tbody>
    </table>



</body>
</html>